.layout {
  height: 100vh;
  display: flex;
  box-sizing: border-box;
  flex-direction: column;
  justify-content: flex-start; /* align items in Main Axis */
  align-items: stretch; /* align items in Cross Axis */
  align-content: stretch; /* Extra space in Cross Axis */
}

.main-section {
  flex: 1;
  display: flex;
  flex-direction: row;
  justify-content: flex-start; /* align items in Main Axis */
  align-items: stretch; /* align items in Cross Axis */
  align-content: stretch;
  padding: 20px;
  box-sizing: border-box;
}

.flex-item {
  display: flex;
  flex-direction: column;
  flex: auto;
}

.footer {
  margin-top: 20px;
}
